*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/docs/

# Log kompilasi Kotlin (sampah lokal)
.kotlin/

# Konfigurasi Android Studio yang spesifik per komputer
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/studiobot.xml
/.idea/planningMode.xml
